body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*
essential styles:
these make the slideshow work
*/

.slides {
  position: relative;
  height: 700px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide-item,
.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -999;
  transition: opacity 0.25s;
}

.active {
  opacity: 1;
  z-index: 0;
}

/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide-item,
.slide {
  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.slide-item:nth-of-type(1),
.slide:nth-of-type(1) {
  background: red;
}

.slide-item:nth-of-type(2),
.slide:nth-of-type(2) {
  background: orange;
}

.slide-item:nth-of-type(3),
.slide:nth-of-type(3) {
  background: green;
}

.slide-item:nth-of-type(4),
.slide:nth-of-type(4) {
  background: blue;
}

.slide-item:nth-of-type(5),
.slide:nth-of-type(5) {
  background: purple;
}

.slide-item:nth-of-type(6),
.slide:nth-of-type(6) {
  background: brown;
}

.slide-item:nth-of-type(7),
.slide:nth-of-type(7) {
  background: pink;
}

.slide-item:nth-of-type(8),
.slide:nth-of-type(8) {
  background: teal;
}

/* custom styles */

.carousel {
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 20px;
  user-select: none;
}

.slides {
  flex-grow: 1;
  flex-basis: 100%;
}

.controls,
.indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.control,
.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active,
.control.active {
  background-color: darkred;
  scale: 1.3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.control:hover,
.indicator:hover {
  background-color: tomato;
  color: black;
}

/* slide-content styles */

.slide-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.slide-title {
  margin: 0 0 15px 0;
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

.slide-description {
  margin: 0;
  font-size: 16px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  line-height: 1.5;
}
